<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'corona/look.css' %}">
    <title>Details</title>
</head>
<body>
    <div id="territory">
        <div id="vase">
            <span>Wojwództwo : Liczba : Zgony</span>
        </div>
        <div id="1">
            <span>dolnośląskie: {{ dolnoslaskie }} : {{ dolnoslaskie_d }}</span>
        </div>
        <div id="2">
            <span>kujawsko-pomorskie: {{ kujawsko }} : {{ kujawsko_d }}</span>
        </div>
        <div id="3">
           <span>lubelskie: {{ lubelskie }} : {{ lubelskie_d }}</span>
        </div>
        <div id="4">
            <span>lubuskie:  {{ lubuskie }} : {{ lubuskie_d }}</span>
        </div>
        <div id="5">
            <span>łódzkie: {{ lodzkie }} : {{ lodzkie_d }}</span>
        </div>
        <div id="6">
            <span>małopolskie: {{ malopolskie }} : {{ malopolskie_d }}</span>
        </div>
        <div id="7">
            <span>mazowieckie: {{ mazowieckie }} : {{ mazowieckie_d }}</span>
        </div>
        <div id="8">
            <span>opolskie: {{ opolskie }} : {{ opolskie_d }}</span>
        </div>
        <div id="9">
            <span>podkarpackie: {{ podkarpackie }} : {{ podkarpackie_d }}</span>
        </div>
        <div id="10">
            <span>podlaskie: {{ podlaskie }} : {{ podlaskie_d }}</span>
        </div>
        <div id="11">
            <span>pomorskie: {{ pomorskie }} : {{ pomorskie_d }}</span>
        </div>
        <div id="12">
            <span>śląskie: {{ slaskie }} : {{ slaskie_d }}</span>
        </div>
        <div id="13">
            <span>świętkokrzyskie: {{ swietokrzyskie }} : {{ swietokrzyskie_d }}</span>
        </div>
        <div id="14">
            <span>warmińsko-mazurskie: {{ warminsko_mazurskie }} : {{ warminsko_mazurskie_d }}</span>
        </div>
        <div id="15">
            <span>wielkopolskie: {{ wielkopolskie }} : {{ wielkopolskie_d }}</span>
        </div>
        <div id="16">
            <span>zachodniopomorskie: {{ zachodniopomorskie }} : {{ zachodniopomorskie_d }}</span>
    </div>
</body>
</html>