<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'corona/style.css' %}">
    <meta name="description" content="Coronavirus in Poland">
    <title>Coronavirus in Poland</title>
</head>
<body>
    <div id="counter">
        <div id="main">
            <h1>Coronavirus Cases:</h1>
            <div id="main-count">
                <span><a href="{% url 'corona:details' %}">{{ whole_amount }}</a></span>
            </div>
        </div>
        <div id="secondary">
        <h1>Deaths:</h1>
            <div id="secondary-count">
                <span>{{ death_amount }}</span>
            </div>
        </div>
    </div>
</body>
</html>